<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button class="sections-btn grey">
				<i class="fa fa-bars"></i>
				sections
				</button>
			</li>
			<li id="search-modal-btn">
			<button class="search-btn grey">
				<i class="fa fa-search"></i>
				search
			</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
			 <button class="subscribe-btn blue" >subscribe now</button>
			</li>

			<li>
				<button class="login-btn blue">log in</button>
			</li>

			<li id="cog-btn"> 
			<button class="cog-btn">
				<i class="fa fa-cog"></i>
			</button>
			</li>
		
		</ul>
	</nav> 

</header>