.main-nav {
  display: flex;
  justify-content: row;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  font-weight: 700;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;

}

.left-nav {
  
  > ul {
    > li {
      padding: 0 10px;

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      
    }

    > li:last-of-type {
      // padding: 0 10px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.right-nav button {
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 5px;
  border-radius: 5%;
}

.right-nav .blue:hover {
  background-color: $blue;
}
.left-nav .grey:hover {
  background-color: $light-gray;
}

.login-btn {
  background: $light-blue;
  color: white;
}

.subscribe-btn {
  background: $light-blue;
  color: white;
}

.left-nav {
  padding-top: .5%;
  
}

.left-nav button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 10px;
  margin: 0 5px;
  border-radius: 5%;
}

i {
  font-size: 20px;
}